.caa{
    text-align: right;
    margin-right: 11%;
}
.rms{
    text-align: center;
    font-weight: 700;
    color: rgb(65,84,241);
    }
    
#per{
    text-align: center;
    font-size: medium;
}
.tab {
    margin: auto;
    width: 80%;
    padding: 10px;
  }
.for{
    text-align: center;
}
.add{
    margin-right: 100px;
    margin-bottom: 30px;
}
  
  
